body{
	/*background-image: url(../images/17.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family:new time roman;

}
.form-container{
	/*width:100%;*/
	margin-top: 6%;
	margin-left: -6%;
	padding: 0% 19%;
	width: 100%;
/*	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
 -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);*/
}
/*.col-md-10{margin-bottom: 2%;}*/
